// Colors
.root{black: #020300}
.root{purple: #544E61}
.root{grey_blue: #6D9293}
.root{green_strong: #85BAA1}
.root{green_light: #CEEDDB}

//Backgrounds
.menu-background{
    -fx-background-color: white;
}

.panel-background1{
    -fx-background-color: grey_blue;
}

.panel-background2{
    -fx-background-color: green_strong;
}

.panel-background3{
    -fx-background-color: green_light;
}

//Text
.header{
    -fx-font-color: purple;
    -fx-font-family: "Century Gothic";
    -fx-font-size: 35px;
}

.sub-header{
    -fx-font-color: purple;
    -fx-font-family: "Century Gothic";
    -fx-font-size: 24px;
}

.text{
    -fx-font-color: black;
    -fx-font-family: "System";
    -fx-font-size: 12px
}